@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  font-family: Ubuntu;
  font-size: 20;
}
*::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: #aaa;
  border-radius: 10px;

}

*::-webkit-scrollbar-thumb {
  background: grey;
  border-radius:20px;
}
html, body{
  min-height:100vh;
}
body{
  min-height: 100vh;
  /* overflow-x: hidden; */
  margin: 0;
}

/****************
** navbar **
****************/
.custnav{
  background: #00000087 url(/static/images/fun.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: darken;
  min-height: 230px;
  color: white;
}

.brand-rand{
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}
.collapse ul{
  border-bottom: 5px solid #fff;
}
.collapse a{
  font-size: 20px;
  padding: 10px;
}
.collapse a:hover{
  background-color: #000000;
  border-radius: 5px 5px 0px 0px;

}

.cate{
  list-style: none;
  margin-left: -40px;

}
.cate li{
  display: inline;
  padding: 7px;
  border-radius:15px;
}

.cate a{
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 15px;
  min-width: 40px;
  text-decoration: none;
}

.cate a:hover{
  background-color: white;
  color: black;
}
/****************
** search from **
****************/
.searchform{
  background-color: transparent;
}

.searchform .search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchform .searchTerm {
  width: 100%;
  border: 1px solid black;
  border-right: none;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #5e4545;
  text-align: center;
}
.searchform .searchTerm:focus, *:focus{
  outline: none;
}
.searchform .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid black;
  border-left: none;
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}
button:focus {
  border: none;
  outline: none;
}
.searchform .searchButton i{
  color: #000;
  border: none;
}
/**************
** Photo **
***************/
.wrapper-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem ,30rem));
  justify-content: center;
}

.photo{
  /* background-color: yellow; */
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.landingimg{
  /* max-width: 400px; */
  max-height: 300px;
  object-fit:cover;
  border-radius: 5px;
  border: 3px solid #fff;
  box-shadow: 0px 7px 6px #000000;
}

.hanger{
  background-color: white;
  min-width: 80px;
  padding: 10px;
  margin-top: -18px;
  border-radius: 20px;
  border-bottom: 2px solid;
  box-shadow: 0px 2px 4px #000000;

}
/**************
****modal****
***************/
.overlayimg{
  border: 5px solid #fff;
  border-radius: 5px;
}

.close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
}
.close-modal:hover{
  color:red;
}

.modal {
  max-width: 850px;
  /* min-height: 500px; */
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0px 5px 5px white;
}

.modal.active {
  top: 50%;
  display: block;
  height: 700px;
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
}

#overlay.active {
  display: block;
}

i .copyicon{
  font-size: 20px;
  color: green;
}
/**************
****footer****
***************/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  background-color: #3b3b3b;
  position: absolute;
  width: 100%;
}
footer h4{
  color: #ffffff;
}
footer>.social{
  background-color: transparent;
}
footer>.social ol{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer>.social ol li {
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

footer>.social ol li >.fab {
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}
footer>.social ol li>.fab:hover{
  font-size: 35px;
  color: #ffffff;
  transition: ease-in 0.1s;
}

footer>.footer_info p{
  font-size: 15px;
}

@media screen and (max-width:600px) {
  .photo{
    width: 370px;
    max-width: none;
  }
  .modal {
    width: 400px;
  }
  .modal.active {
    top: 50%;
    display: block;
    height: 500px;
  }
  .brand-rand{
    font-size: 35px;
  }
  .custnav{
    min-height: 150px;
  }
  .cate a{
    padding: 5px;
    margin: -3px;
  }
  
}

@media screen and (max-width:350px) {
  .photo{
    width: 320px;
    margin-left: 25px;
  }
  .modal {
    width: 340px;
  }
  .brand-rand{
    font-size: 35px;
  }
  .custnav{
    min-height: 150px;
  }
}
